.CommitteeList {
  display: flex;
  flex-wrap: wrap;   /* allow 2 per row */
  gap: 1rem;
  width: 100%;
  padding: 0;
  justify-content: center; /* center 2-column grid */
}


.committee-link {
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 4px;
}

.committee-link:hover {
  text-decoration: none;
}

.committee-item {
  margin-bottom: 8px;
  line-height: 1.5;
}